<footer>
  <p>Deployed via <%= link_to "Kamal", "https://deploy-kamal.org" %> onto a very old 2015 MBP :)<br>
  Styling via <%= link_to "SimpleCSS", "https://simplecss.org" %> as while I am many things, a designer is not one of them.</p>
</footer>