<div id="<%= dom_id contribution %>">
  <p>
    <strong>Name:</strong>
    <%= contribution.name %>
  </p>

  <p>
    <strong>Repository:</strong>
    <%= contribution.repository %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= contribution.details %>
  </p>

</div>
